# byproduct of pycharm
.idea/**

# byproduct of setup.py
build/*
dist/*
*.egg-info/*

# files
*.pyc
*.cfg
FilterFrequencies.txt
*.dat
csv/*.csv
png/*.png

# even if they are in subdirectories
!*/
png/test.png