**/.idea/workspace.xml
**/.idea/tasks.xml
*.pyc
*.cfg

# files
FilterFrequencies.txt
decim.dat
eef.dat
filters.dat
lpf.dat
omef.dat
outfile.dat
csv/*.csv
png/*.png

# even if they are in subdirectories
!*/
png/test.png