**/.idea/workspace.xml
**/.idea/tasks.xml
*.pyc
*.cfg

FilterFrequencies.txt
decim.dat
eef.dat
filters.dat
lpf.dat
omef.dat
outfile.dat


# ...even if they are in subdirectories
!*/
.idea/workspace.xml
.idea/workspace.xml