.idea/*

# exclude everythin in png folder except the example files
png/*
!png/.gitkeep

# exclude everythin in txt folder except the example files
txt/*
!txt/.gitkeep
!txt/bee2.txt
!txt/bee2_autocorr.txt

# exclude everythin in wav folder except the example files
wav/*
!wav/.gitkeep
!wav/bee2.wav
